<html>
<head>
    @section scripts{
        <script>
            $('#refresh_page').click(function () {
                location.reload();
            });
        </script>
    }
</head>
<body>
    <h3>@ViewBag.title</h3>
    <h4>Время отправки сообщения может занять до 5 минут</h4>
    <h4><a href="#" id="refresh_page">Нажмите сюда</a>, если сообщение не пришло</h4>
</body>
</html>

