<html>
<head>
    <script>
        $('#refresh_page').click(function () {
            location.reload();
        });
    </script>
</head>
<body>
    <h3>На электронный адрес @ViewBag.email отправлены дальнейшие инструкции по завершению регистрации</h3>
    <h4>Время отправки сообщения может занять до 5 минут</h4>
    <h4><a id="refresh_page">Нажмите сюда</a>, если сообщение не пришло</h4>
</body>
</html>

